 
 @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
 
 .title-font {
     font-family: 'Pacifico', cursive;
     color: white;
     transition: .2s ease-in-out;
 }
  
 
 .image{
     
     background-attachment: fixed;
     top: 10;
     width: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }
  
 
  
 
  